@media only screen and (max-width: 1920px) and (min-width: 1440px)  {
    .weare_contain {
        width: 100%;
        min-height: 162px;
    }
    .curri_pic:after {
        border-left: 310px solid transparent;
        border-right: 311px solid transparent;
    }
        
        }
        
    @media screen and (max-width: 1350px) {
            
    .picture_tab img {
        min-height:inherit;
    }
     }
    
        
    
    @media screen and (max-width: 1280px) {
        
    .curri_text {
        min-height: 310px;
    }
        
    .nav_section ul li a {
        padding: 8px 15px;
    }
    .curri_pic:after {
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;
    }
    .slider_text {
        top: 230px;
        width:43%;
    }
    .slider_text > h1 {
        font-size: 35px;
    }
    .teacher_title {
        width:auto;
    }
    .teacher_title_right {
        text-align:right;
    }
    .circle {
        width: 210px !important;
        height: 210px !important;
    }
    .counter-count {
        font-size: 30px;
        line-height: 30px;
    }
    .employee-p, .customer-p, .order-p, .design-p {
        font-size: 17px;
    }
        
    .picture_tab img {
        min-height:inherit;
    }
    }
    @media screen and (max-width: 1170px) {
        
        .curri_text {
        min-height: 333px;
    }
        
    .about_tab > ul > li > a {
        padding: 5px 15px;
        font-size:14px;
    }
        
    .feature_list li {
        min-height:inherit;
    }
    .picture_tab img {
        width:100%;
    }
    .we_left {
        width:50%;
    }
    .we_left img {
        width:100%;
    }
    .we_right {
        width:50%;
    }
    .we_right img {
        width:100%;
    }
    .curri_pic:after {
        border-left: 160px solid transparent;
        border-right: 160px solid transparent;
    }
    .feature_list li img {
        width:100%;
    }
    .slider_text {
       top: 200px;
       width:42%;
    }
    .slider_text > h1 {
        font-size: 25px;	
    }
    .nav_section ul li a {
        padding: 8px 11px;
    }
    
    
    .white_dote_about {
        bottom: 0px;
        top: 0;
        left: 0px;
        position: absolute;
    }
    .carousel-indicators {
        position: absolute;
        bottom: 0px;
        left: 0%;
        z-index: 1;
        width: 100%;
        margin-left: 0%;
    }
    .carousel-indicators.white_dote_about li {
        width:150px;
    }
    .about_animation {
        width:150px;
    }
    .carousel-indicators.white_dote_about .active {
        width:150px;
    }
    
    .we_left {
        width: 47%;
    }
    .weare_contain {
        width:100%;
        min-height: 200px;
    }
    .we_are_bg {
        min-height:730px;
    }
    
    
    
    }
    @media screen and (max-width: 1024px) {
    .we_are_bg {
        min-height:700px;
    }
    
    
    .address_cont {
        padding: 15px;
        min-height:414px;
    }
        
    .flip_home_text h2 {
        font-size: 14px;
    }
        
    .right_heading {
        width: auto !important;
        margin-top: 15px !important;
        font-weight: normal !important;
    }
        
    .support_main_inner {
        padding: 40px 0px;
    
    }
    .code_blank_picture {
        width:40%;
    }
        
    .nav_section ul li a {
        padding: 8px 11px;
    }
    .flip-card {
        width:100%;
        height:auto;
    }
    .flip-card img {
        width:100%;
    }
    .circle {
        width: 220px !important;
        height: 220px !important;
    }
    .counter_icon1 {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    .counter-count {
        font-size: 35px;
        line-height: 15px;
        padding-top: 10px;
        padding-bottom:10px;
    }
    .employee-p, .customer-p, .order-p, .design-p {
        font-size: 25px;
        line-height: 35px
    }
    .career_text_right {
        padding-top: 0px;
    }
    .career_text_right > p {
        text-align:justify
    }
    .we_out_text > h5 {
        font-size:30px;
    }
    .we_out_text {
        padding: 0 40px;
        text-align:justify;
    }
    .we_look_left_picture {
        margin-top:50px;
    }
    
    .career_right_picture img {
        width:100%;
    }
    
    .career_title > h1 {
        font-size: 30px;
    }
    .career_text_right > h3 {
        font-size:30px;
    }
    
    .counter_text {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    .customer_text {
        font-size: 20px !important;
        line-height: 18px !important;
    }
    .workspho_space {
        margin-bottom:15px;
    }
    
    .c_form {
        min-height:inherit;
    }
    .n_events {
        margin-bottom: 15px;
    }
    .news_bg_contain {
        margin-top: 15px;
        margin-bottom:15px;
    }
    .product_slider {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    
    .address_cont > h1 {
        font-size: 25px;
    }
    .download_cart > li {
        width:100%;
        margin-bottom:10px;
    }
    .download_cart > li:last-child {
        margin-bottom:0px;
    }
    .board_directors {
        min-height: 480px;
    }
    
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -35px !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: -35px !important;
    }
    .carousel-indicators.white_dote_about li {
        width:105px;
    }
    .about_animation {
        width:105px;
    }
    .carousel-indicators.white_dote_about .active {
        width:105px;
    }
    .video_about {
        margin-bottom:15px;
        height:auto;
    }
    }
    
    @media screen and (max-width: 992px) {
        
    .picture_text {
        min-height: 180px;
    }
        
    .curri_text {
        min-height: 362px;
    }
        
    .board_directors {
        min-height: 260px;
    }
        
    .social_network > ul > li {
        margin-right: 7px;
    }
        
    .my_account_inner {
        padding: 40px 0px;
    }
    .my_tab > ul > li {
        list-style: none;
        
        position: relative;
        width: 25%;
        float: left;
        text-align: center;
        border-right: solid 1px #CCCCCC;
        border-top: solid 1px #CCCCCC;
        border-bottom: solid 1px #CCCCCC;
        
    }
    .my_tab > ul > li:first-child {
        border-left: solid 1px #CCCCCC;
    }
    .my_tab > ul > li:last-child {
        border-bottom: solid 1px #CCCCCC;
    }
    .my_acitve:after {
        display:none;
    }
    .my_tab > ul > li > a {
        padding: 10px 10px;
    }
    .my_tab {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .left_my_account {
        border: solid 0px #CCCCCC;
        box-shadow: 0px 0px 0px #ccc;
    }
        
    .join_form {
        width: 100%;
    }
    .flip_home_text h2 {
        font-size: 18px;
    }
    
    .circle {
        width: 340px !important;
        height: 340px !important;
        margin-bottom:15px;
    }
    .counter-count {
        font-size: 50px;
        line-height: 15px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .employee-p, .customer-p, .order-p, .design-p {
        font-size: 35px;
        line-height:50px;
    }
        
    .about_tab > ul > li > a {
        padding: 10px 25px;
    }
        
    .nav_section {
        margin-top:55px;
    }
    .nav_responsive {
        width: 45px;
        height: 55px;
        cursor: pointer;
        float: right;
        padding-top: 17px;
    }
        
    .one {
        width:100%;
        height:1px;
        background:#333;
        float:left;
        margin-bottom:10px;
    }
    .two {
        width:100%;
        height:1px;
        background:#333;
        float:left;
        margin-bottom:10px;
    }
    .three {
        width:100%;
        height:1px;
        background:#333;
        float:left;
    }
    .header_login li:last-child {
        margin-right: 0px;
    }
    .position_static {
        position:static;	
    }
    .nav_section ul {
           text-align: center;
    }
    .nav_section li {
        width:100%;
        /* border-bottom: solid 1px #2f2f2f; */
    }
    .nav_section li:last-child {
        border-bottom: solid 0px #2f2f2f;
    }
    .nav_section ul li a {
        padding: 10px 18px;
    }	
    .nav_section ul li a span {
       color: #fff;   
    }
    .logo {
           padding: 3px 0 10px;
    }
    .nav_section ul li a:hover:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        height: 100%;
        border-radius:0px;
    }	
    .nav_open {
        position: fixed;
        width: 300px;
        right: -320px;
        background: #272727;
        height: 100vh;
        transition: 0.3s;
        top: 0;
        z-index:999;
    }
    .add_menu {
        right: 0px !important;
        transition: 0.3s;
        visibility: visible;
    }
    .picture_tab img {
        width:100%;
    }
    .dropdown-menu {
        min-width: 667px;
        padding: 0 !important;
    }
    .dropdown-menu>li>a {
        padding: 6px 20px;
        color: inherit;
    }
    .dropdown-submenu>.pogition_right {
        min-width: 667px
    }
    .nav_btn_clolse {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        display: block;
        cursor: pointer;
        top: 10px;
    }
    .close_left {
        height:40px;
        width:2px;
        background:#fff;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari and Chrome */
        float:left;
        margin-left: 16px;
    }
    .close_right {
        height:40px;
        width:2px;
        background:#fff;
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari and Chrome */
        float:left;
    }
    .nav_section ul li a:before {
        -webkit-transform: scalex(0);
        transform: scalex(0);
    }
    .feature_list li {
        min-height:inherit;
    }
    .we_right {
        z-index: 1;
        width: 50%;
        float: left;
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .we_right img {
        width:100%;
    }
    .picture_left {
        width:100%;
    }
    .picture_left img {
        width:100%;
    }
    .weare_contain {
        width:100%;
        padding:15px;
        min-height: auto;
    }
    .we_title {
        margin-bottom: 70px;
    }
    .we_left {
        width:50%;
    }
    .we_are_bg {
        min-height: 640px;
    }
    .we_title > h1 {
        font-size:35px;
    }
    .mask > p {
        font-size:13px;
        line-height:15px;
        text-align:left;
    }
    .title_feature {
        font-size: 16px;
        color: #FFF;
        line-height: 20px;
        padding-bottom: 3px;
        font-weight: bold;
    }
    .mask {
        padding: 10px;
    }
    .mask > a {
        margin-top:5px;
    }
    .curri_text {
        padding: 20px 15px;
    }
    .curri_pic:after {
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
    }
    .curri_pic {
        max-height:250px;
    }
    .curri_pic img {
        width:100%;
    }
    
    .nav_add {
        margin-top:55px !important;
    }
    .slider_text {
        top: 140px;
        left: 58px;
        width: 40%;
        padding: 10px;
        background: rgba(0, 0, 0, 0.14);
    }
    .slider_text > h1 {
        font-size:25px;
    }
    .teacher_title_right {
        text-align:right;
    }
    .teacher_title {
        width:auto;
        font-size: 25px;
        padding: 18px 20px;
    }
    .teacher_title:after {
        height: 61px;
    
    }
    .teacher_title_right {
        width:auto;
        font-size: 25px;
        padding: 18px 20px;
        text-align:right;
    }
    .teacher_title_right:after {
        height: 61px;
    }
    .digital_title {
        width:auto;
        margin-top: 40px;
        font-size:25px;
        padding: 20px 20px 20px 50px;
    }
    .curri_title {
        font-size: 30px;
        margin: 0px 0 60px 0;
    }
    .teacher_circle > span {
        font-size:22px;
    }
    
    .about_tab > ul > li > a {
        padding: 5px 15px;
    }
    .career_right_picture {
        margin-top:100px;
    }
    .support_form {
        background: #FFF;
        padding: 20px 15px;
    }
    .title_heading {
        width:auto !important;
        font-weight:normal !important;
        margin-top:15px !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -30px !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: -30px !important;
    }
    .test_contain > h1 {
        font-size:21px !important;
    }
    .client_pic {
        width: 120px !important;
        height: 120px !important;
    }
    .client_pic img {
        width:100%;
    }
    .testimonial_comment {
        min-height:inherit !important;
        padding: 20px 10px !important;
    }
    .client_say > p {
        margin-left: 10px !important;
    }
    .testmonial_icon img {
        width:35px !important;
    }
    .digital_pic_download li {
        width: 33% !important;
    }
    
    .testimonial {
        height:inherit !important;
    }
    .test_contain > h1 {
        margin: 70px 0 0 0px !important;
        padding: 0 0px 0 0px !important;
        text-align:center !important;
    }
    
    .digital_download {
        padding: 40px 8px !important;
    }
    
    }
    
    
    @media screen and (max-width: 767px) {
    
    .filter_select {
        margin-bottom:15px;
    }
    .periodicals_tab {
        margin-bottom:15px;
    }
    .periodicals_padding {
          margin-top: 0px;
    }
        
    .Emag_contain p {
        text-align:justify;
    }
    .emag_100 {
        padding: 30px 0 15px;
    }
    
    .display_none {
        display:none;
    }
    .mobile_banner img {
        width:100%;
    }
    .mobile_banner {
        display:block !important;
        margin-top:90px;
    }
    .curri_text {
        min-height:inherit;
    }	
    
    .contact_slider1 {
        display:block;
        margin-top:90px;
    }
    .contact_slider1 img {
        width:100%;
    }
    .contact_slider {
        display:none;
    }	
        
        
    
    .my_tab > ul > li > a:hover {
        padding-left: 0px;
    }
    
    .my_tab {
        background-color:transparent;
    }
    
    .logo img {
        width:150px;
        padding: 5px 0 0px !important;
    }
    .carousel-control {
        opacity: 1;
    }
    
    
    .accor_bg {
        border-bottom: solid 1px #c1c1c1 !important;
    }
        
    .digital_download {
        padding: 20px 8px !important;
    }
    .digital_pic_download li {
        width: 50% !important;
        padding:5px 8px 5px 8px !important;
    }
    .digital_download h1 {
        padding-bottom: 20px !important;
    }
        
    .testimonial_comment {
        min-height: inherit !important;
        padding: 20px 0px !important;
    }
        
    .test_contain > h1 {
        margin: 10px 0 30px 0px !important;
        padding: 0 0px 0 0px !important;
        text-align:center !important;
    }
    .test_contain > h1:after {
        display:none;
    }
    .test_padding {
        padding: 20px 0px !important;
    }
    
    .digital_welcome_bg {
        padding: 20px 0 !important;
    }
    .welcome_contain {
        text-align: justify !important;
    }
    .welcome_contain > h1 {
        text-align: left !important;
        font-size: 24px !important;
    }
    .welcome_contain > h1:before {
        margin: initial !important;
    }
    .welcome_contain > h1:after {
        margin: initial !important;
        left: 35px !important;
    }
    
    .title_heading {
        font-size:22px !important;
    }
    .code_blank_picture {
        width:30%;
    }
    .c_form {
        margin-top:15px;
    }
        
    .c1_none {
        display:block;
    }
    .c2_none {
        display:block;
    }
    .c3_none {
        display:block;
        margin-bottom:10px;
    }
    .c4_none {
        display:none;
    }
    .c5_none {
        display:block;
    }
    .c6_none {
        display:none;
    }
    
    .joinus > a {
        color: #FFF;
        display: block;
        line-height: 21px;
        padding: 10px 15px;
    }
    .career_title p {
        text-align:justify;
    }
    .career_contain {
        text-align:justify;
    }
    .career_contain > h1 {
        text-align:center;
    }
    .careers_right {
        display:none;
    }
    .career_left {
        display:none;
    }
        
        
    .about_section h1 {
        font-weight:bold;
        font-size:16px;
            
    }
        
    .career_title {
        width:100%;
        background:none;
        padding: 10px 0px;
    }
    .career_left {
        margin-top:10px;
    }
        
    .career_right_picture {
        margin-top: 30px;
    }
        
    .n_ent_pic img {
        width: 100%;
    }
    .e_contain > p {
        overflow: initial;
        display: -webkit-box;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: initial;
    }
    .about_tab > ul > li > a {
        color: #FFF;
        padding: 10px 25px;
    }
        
    .about_mai_n {
        padding: 50px 0 20px 0;
    }
    .flip-card-front img {
        width:100%;
    }
    .flip-card {
        width:100%;
        height:auto;
    }
    .flip-card {
        margin-bottom: 15px
    }
    .flip_home_text {
        bottom:0;
    }
    .about_tab > ul > li > a {
        padding: 5px 10px;
        font-size: 13px;
        border: solid 1px #fff;
        border-radius: 0px;
        margin-bottom: 10px;
    }
    .board_directors {
        margin-bottom: 15px;
        min-height: inherit;
        border: solid 1px #616161;
    }
    .about_acitve:after {
        display:none;
    }
        
    .slider_text {
        top: 100px;
        left: 0;
        width: 80%;
        z-index: 999;
        right: 0;
        margin: auto;
        text-align:center;
        background: rgba(0, 0, 0, 0.50);
        padding:5px;
        
    }
    
    .slider_text > h1 {
        font-size: 25px;
    }
    .slider_text > p {
        margin-bottom:10px;
    }
    .slider_text > a {
        background: #fff;
        color: #333;
        padding: 0px 0px;
        text-decoration: none;
        border-radius: 3px;
        transition: 0.3s;
        margin-top: 0px;
        display: block;
        float: none;
        margin: auto;
        width: 95px;
    }
    .curri_pic:after {
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
    }
    .curri_pic {
        max-height:250px;
    }
    
    .digital_testimonials {
        min-height:inherit;
    }
        
    .digital_testmonials_text {
        overflow:visible;
    }
        
    .curri_contain {
        margin-bottom:20px;
    }
    
    .curri_parts {
        padding:0 0;
    }
    .teacher_left img {
            width:100%;
        }
    .teacher_circle {
            display:none;
        }
    .digital_pictures img {
            width:100%;
        }
    .digital_text_box {
            padding: 25px 15px 0px 15px;
        }
    .curri_text p {
            min-height:inherit;
        }
    .curri_text {
           padding: 20px 15px;
        }
    .curri_pic {
        max-height:inherit;
    }
    .feature {
        padding: 40px 15px;
    }
    .teacher_engangement {
        margin-top: 0px;
    }
        
    .weare_contain  {
        width:100%;
        height:auto;
        min-height:inherit;
        padding:15px 15px;
        margin-top:20px;
    }
    .we_are {
        padding: 40px 20px;
        min-height:inherit;
    }
    .we_right {
        top: 0px;
        right: 0px;
        padding:0px;
        position: inherit;
        width:100%;
    }
    .we_left {
        width:100%;
    }
    .we_title {
        margin-bottom: 0px;
    }
    .we_title > h1 {
        font-size: 35px;
    }
    .feature_list li {
        min-height:inherit;
    }
    .feature_picture {
        margin-bottom: 15px;
    }
    .feature_text {
        font-size:25px;
        font-weight:bold;
    }
    .curri_title {
       margin: 10px 0 30px 0;
        font-size: 25px;
    }
    .curri_bg {
        height: 380px;
    }
    
    .digital_title {
        margin-top: 20px;
        width:auto;
        padding: 20px;
    }
    .t1_none {
        display:block;
    }
    .t2_none {
        display:none;
    }
    .header_login {
        position:static;
    }
    
    .text_teacher {
        width: 100%;
        float: left;
        box-sizing: border-box;
        position: static;
        top: inherit;
        left: inherit;
        padding: 20px 15px;
        transform: translate(0, 0%);
    }
    .teacher_right {
        min-height:inherit;
    }
    .digital_testimonials h2 {
        font-size: 20px;
        padding: 30px 0px 25px 0px;
        font-weight:bold;
    }
    
    /*school-solutions*/
    .nav_listing {
        display:none;
    }
    
    .listing_product {
        padding:0;
    }
    
    .no_padding {
        padding-right: 15px;
        padding-left: 15px;
    }
    .main_dialog {
        width: auto;
        margin-top: 30px;
    }
    .left_part_login {
        background: url(../images/login_backgound.jpg) -70px 0;
    }
    .right_part_login {
        border-radius: 20px;
    }
    .login__tab > ul > li > a {
        width: 100px;
        text-decoration: none;
    }
    .search_ {
        width: 100%;
        position: absolute;
        right: 0;
        top: 96px;
        display: none;
        background-color: #545454;
        padding: 10px 15px;
    }
    .s_search {
        outline: none;
        border: solid 0px #d2d2d2;
        width: 97%;
        height: 40px;
        background: #f7f7f7;
        border-radius: 40px;
    }
    .search_ > span:before {
        background:#FFF;
        width:2px;
    }
    .search_ > span:after {
        background:#FFF;
        width:2px;
    }
    .search_add {
        top:86px !important;
        transition:0.3s;
    }
    .search_ > span {
        top: 17px;
    }
    
    .feature_list li {
        width:100%;
    }
    .picture_left {
        width: 50%;
        margin-top:100px;
        margin-left: 10px;
    }
    .footer_contain h6 {
        padding: 15px 0 15px;
        font-size: 15px;
        font-weight:bold;
    }
    .footer {
        padding: 10px 5px;
    }
    .social_network {
        margin-bottom: 25px;
    }
    .title_feature {
        font-size: 20px;
        padding-bottom: 5px;
    }
    .mask > p {
        font-size:16px;
        line-height:22px;
        text-align:left;
    }
    
    .digital_testmonials_text {
        width: 100%;
        float: left;
        display: block;
        position: relative;
        overflow: visible;
        transition: 0.3s;
    }
    .t_text {
        position:inherit;
        float:left;
        width: 100%;
        top: 100%;
        visibility: visible;
        opacity: 1;
    }
    .student_testimonial_contain {
        opacity: 1;
         margin-top: 50px;
    }
    .top_0 {
        margin-top:0px;
    }
    .top_1 {
        margin-top:0px;
    }
    .top_2 {
        margin-top:0px;
    }
    .top_3 {
        margin-top:0px;
    }
    .digital_testmonials_text:hover .test_monials{
        margin-top:0px;
    }
        
    .digital_testmonials_text {
        padding-bottom:20px;
    }
    .text_more {
        font-weight:bold;
    }
    .student_name {
        font-weight:bold;
    }
    .feature_list li {
        border-top: solid 1px #fff;
        border-bottom: solid 1px #fff;
        border-right: solid 1px #fff;
        border-left: solid 1px #fff;
        min-height:inherit;
        margin-bottom:15px;
    }
    
    .feature_list li:nth-last-child(1) {
        border-bottom: solid 1px #fff;
    }
    .feature_list li:nth-last-child(2) {
        border-bottom: solid 1px #fff;
    } 
    .l_product {
        margin-bottom:15px;
    }
    .t_n_n {
        padding: 0;
        margin: 5px 0 5px 15px;
        overflow: hidden;
        width:77%;
        float:left;
    }
    .filter_click {
        float: right;
        text-align: center;
        background: #f26122;
        padding: 0px 5px;
        color: #fff;
        border-radius: 2px;
        margin-top: 3px;
        margin-right: 15px;
        width:18%;
        display:block;
    }
    .fiter_mian {
        width: 100%;
        float: inherit;
        height: inherit;
        background: #FFF;
        box-shadow: 0 1px 20px -1px rgba(0,0,0,.4);
        position:fixed;
        bottom:-1000px;
        z-index:999;
        left:0;
        right:0;
        transition:0.3s;
    }
    .add_filter {
        bottom:0px !important;
    }
    .listing_cont {
        background:#FFF;
        box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.25);
        padding:10px;
    }
    .listing_cont > p {
        min-height:inherit;
        padding-bottom:10px;
    }
    .filter_click i {
        display: block;
        float: left;
        margin-top: 5px;
    }
    .main_listing {
        overflow:auto;
        height: 350px !important;
        width:100%;
        background:#CCC;
     }
    .prodcut_a i {
        display:none;
    }
    .fiter_mian > h1 > i {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        color: #fff;
        position: absolute;
        right: 5px;
        top: 9px;
    }
    .details_product {
        padding: 20px 0px;
    }
    .text_contain_D > h1 {
        font-size:20px;
        margin-bottom: 30px;
    }
    .text_contain_D > p {
        color: #333;
        text-align: justify;
    }
    .teacher_title_right {
        width:auto;
    }
    .carousel-indicators {
        bottom: -10px;
    }
    .circle {
        width: 280px !important;
        height: 280px !important;
    }
    .counter-count {
        font-size: 40px;
        line-height: 0px;
    }
    .employee-p, .customer-p, .order-p, .design-p {
        font-size: 20px;
        line-height: 40px;
    }
    .career_text_right_picture img {
        width: 100%;
    }
    .we_out_text {
        width: 100%;
        float: left;
        box-sizing: border-box;
        position: initial;
        top: initial;
        left: initial;
        transform: inherit;
        padding: 15px 15px;
    }
    .we_out {
        min-height:auto;
    }
    .we_look_left_picture {
        margin-top:0;
    }
    .careers_main_part2 {
        padding: 15px 0px;
    }
    .careers_main_inner {
        padding: 40px 15px;
    }
    .career_text_right {
        padding-right: 0px;
    }
    .career_main_text {
        padding: 30px 0;
    }
    .support_faq {
        margin-top:0px;
    }
    .video_main_inner {
        padding: 25px 0px;
    }
    .product_slider .container {
        width: auto;
        padding: 0px 40px;
    }
    .right_heading {
        font-size:22px !important;
    }
    .join_main_inner {
        padding: 15px 0px;
    }
    .join_form {
        box-shadow: 0px 0px 0px #d2d2d2;
        padding: 30px 15px;
    }
    .my_tab > ul > li {
        width: 50%;
        border:none;
    }
    .my_tab > ul > li:last-child {
        border-bottom: solid 0px #CCCCCC;
        border-right: solid 0px #CCCCCC;
    }
    .my_tab > ul > li:first-child {
        border-left: solid 0px #CCCCCC;
    }
    .my_tab {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .m_inner_1 {
        padding: 15px 10px 0px 10px;
    }
    .mask {
        padding:15px;
        bottom: 0;
        background:#000;
        position:inherit;
        left:inherit;
        right:inherit;
    }
    
    .e_contain > h2 {
        font-size: 18px;
        font-weight:bold;
    }
    .news_tab > ul > li > a {
        text-transform: capitalize;
        font-size:16px;
    }
    
    .carousel-indicators.white_dote li {
        width: 40px !important;
        height: 15px !important;
        
    }
    .carousel-indicators.white_dote .active {
        width: 40px !important;
        height: 15px !important;
        margin:1px !important;
    }
    .contact_main_inner {
        padding: 25px 0px;
    }
    .address_cont {
        padding: 15px;
        min-height:inherit;
        margin-bottom:15px;
    }
    .my_account_inner {
        padding: 10px 0px 20px 0;
    }
    .left_my_account > h1 {
        display:none;
    }
    .picture_right {
        width: 50%;
        float: none;
        position: absolute;
        right: 10px;
        top: -270px;
    }
    .periodicals_tab ul {
        text-align:center;
    }
    
    .emag_main {
        margin-bottom:15px;
    }
    .feature_emag {
         padding: 0px 0px;
    }
    .text_teacher p {
        text-align:justify;
    }
    .mask > a {
        margin-top: 0px;
        font-size:16px;	
    }
    .curri_pic:after {
        border-left: 380px solid transparent;
        border-right: 380px solid transparent;
    }
    .footer_nav a {
        color:#d6d6d6;
    }
    .copyright > p {
        color:#d6d6d6;
    }
    .about_text_iner {
        padding:0px 0px;
    }
    .carousel-indicators.white_dote_about li {
        width:150px;
    }
    .about_animation {
        width:150px;
    }
    .carousel-indicators.white_dote_about .active {
        width:150px;
    }
    
    .about_section {
        padding: 30px 0px 20px;
    }
    
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -33px !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: -33px !important;
    }
    
    }
    
    @media screen and (max-width: 600px) {
        
    .join_n {
        width:120px;
    }
    .t_n_n {
        width:70%;
    }
    .filter_click {
        width:20%;
    }
    .slider_text > h1 {
        font-size: 22px;
    }
    .slider_text > p {
        font-size: 15px;
        line-height:17px
    }
    .carousel-indicators {
        bottom: -10px;
    }
    .slider_text {
        top: 50px;
    }
    .picture_left {
        margin-top: 90px;
    }
    .picture_right {
        top: -240px;
    }
    
    .curri_pic:after {
        border-left: 310px solid transparent;
        border-right: 310px solid transparent;
    }
    

    .nav_section ul {
        text-align: center;
 }
 .nav_section li {
     width:100%;
     /* border-bottom: solid 1px #2f2f2f; */
 }
 .nav_section li:last-child {
     border-bottom: solid 0px #2f2f2f;
 }
 .nav_section ul li a {
     padding: 10px 18px;
 }	
 .nav_section ul li a span {
    color: #fff;   
 }
 .logo {
        padding: 3px 0 10px;
 }
 .nav_section ul li a:hover:before {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     height: 100%;
     border-radius:0px;
 }	
 .nav_open {
     position: fixed;
     width: 300px;
     right: -320px;
     background: #272727;
     height: 100vh;
     transition: 0.3s;
     top: 0;
     z-index:999;
 }
 .add_menu {
     right: 0px !important;
     transition: 0.3s;
     visibility: visible;
 }
 .picture_tab img {
     width:100%;
 }
 .dropdown-menu {
     min-width: 667px;
     padding: 0 !important;
 }
 .dropdown-menu>li>a {
     padding: 6px 20px;
     color: inherit;
 }
 .dropdown-submenu>.pogition_right {
     min-width: 667px
 }
 .nav_btn_clolse {
     width: 40px;
     height: 40px;
     position: absolute;
     right: 10px;
     display: block;
     cursor: pointer;
     top: 10px;
 }
 .close_left {
     height:40px;
     width:2px;
     background:#fff;
     transform: rotate(45deg);
     -ms-transform: rotate(45deg); /* IE 9 */
     -webkit-transform: rotate(45deg); /* Safari and Chrome */
     float:left;
     margin-left: 16px;
 }
 .close_right {
     height:40px;
     width:2px;
     background:#fff;
     transform: rotate(-45deg);
     -ms-transform: rotate(-45deg); /* IE 9 */
     -webkit-transform: rotate(-45deg); /* Safari and Chrome */
     float:left;
 }
 .nav_section ul li a:before {
     -webkit-transform: scalex(0);
     transform: scalex(0);
 }
    
    }
    
    @media screen and (max-width: 489px) {	
    
    .address_cont > h1 {
        font-size: 20px;
        font-weight:bold;
    }
    
    .code_blank_picture {
        width:40%;
    }
    .capture_code {
        top: 11px;   
    }
    .carousel-indicators.white_dote_about li {
        width:100px;
    }
    .about_animation {
        width:100px;
    }
    .carousel-indicators.white_dote_about .active {
        width:100px;
    }
    
    .filter_click {
        width:20%;
    }
    .slider_text > h1 {
        font-size: 15px;
    }
    .slider_text > p {
        font-size: 14px;
        line-height: 14px;
    }
    .slider_text {
        top: 50px;
        left: 0;
        width: 80%;
        z-index: 999;
        right: 0;
        margin: auto;
        text-align:center;
        background: rgba(0, 0, 0, 0.50);
    }
    .slider_text > a {
        background: #fff;
        color: #333;
        padding: 0px 0px;
        text-decoration: none;
        border-radius: 3px;
        transition: 0.3s;
        margin-top: 0px;
        display: block;
        float: none;
        margin: auto;
        width: 90px;
        font-size:14px;
    }
        
    .t_n_n {
        width:70%;
    }
    .filter_click {
        width:20%;
    }
        
    .curri_pic {
        background:#e8e8e8;
    }
        
    .digital_title {
        padding: 10px 20px 10px 15px;
        font-size:20px;
    }
    .digital_title:after {
        height:45px;	
    }
    .we_are_bg {
        min-height:inherit;
    }
        
    .digital_text_box {
        padding: 15px 15px 0px 15px;
    }
    .teacher_title:after {
        height:45px;
    }
    .teacher_title {
        width:auto;
        font-size: 20px;
        padding: 10px 20px;
    }	
    
    .teacher_title_right {
        color: #fff;
        padding: 10px 20px;
        text-align: right;
        font-size: 20px;
    }
    .teacher_title_right:after {
        height:45px;
    }
    
    .mask > a {
        margin-top: 0px;
        
    }
    .we_title {
        margin-bottom:0;
    }
    
    .search_ > span {
        top: 15px;
    }
    .s_search {
        border: solid 0px #d2d2d2;
        width: 94%;
        height: 36px;
        border-radius: 40px;
    }
    .left_part_login {
        display:none;
    }
    .right_part_login {
        width:100%;
    }
    .login__tab > ul > li > a {
      width:130px;
    }
    .right_part_login {
        min-height:inherit;
        border-radius: 5px 5px 5px 5px;
    }
    .login___part {
        padding:15px 15px 25px 15px;
    }
    
    .curri_pic:after {
        border-left: 220px solid transparent;
        border-right: 220px solid transparent;
    }
    .download_cart > li {
        width:100%;
    }
    .add_box {
        margin-top:10px;
    }
    .ct_detail {
        margin-top:10px;
        padding: 15px 10px;
    }
    .ct_detail > a {
        border-radius:5px;
    }
    .ct_detail {
        background:none;
    }
    .news_tab > ul > li > a {
        padding: 20px 10px;
    }
    .my_tab > ul > li > a {
        font-size:14px;
        padding: 10px 0px;
    }
    
    .news_tab > ul > li > a {
        font-size:14px;
    }
    
    .e_contain {
        padding: 0 5px 0px 5px;
    }
    .about_tab > ul {
        text-align:left;
    }
    .about_tab {
        padding-left: 15px;
    }
    .picture_left {
        margin-top: 60px;
    }
    .picture_right {
        top: -160px;
    }
    .curri_pic:after {
        border-left: 240px solid transparent;
        border-right: 240px solid transparent;
    }
    
    
    }
    
    @media screen and (max-width: 450px) {
        
    .curri_pic:after {
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
    }
    .digital_pic_download li {
        width: 50% !important;
        padding:5px !important;
    }
    .join_n {
        width:100%;
        margin-bottom: 10px;
        padding: 10px 0;
    }
    .join_t {
        width:100%;
        padding: 10px 0;
    }
    .apply_with > a {
    
        padding: 10px 0px;
        border-radius: 2px;
        width: 100%;
    }
    .apply_with {
        margin-top: 10px;
    }
    
    .periodicals_tab > ul > li > a {
        padding: 5px 30px;
    }
    
    }
    
    @media screen and (max-width: 420px) {
    .curri_pic:after {
        border-left: 185px solid transparent;
        border-right: 185px solid transparent;
    }
    
        
        }
        
    @media screen and (max-width: 380px) {
    .curri_pic:after {
        border-left: 170px solid transparent;
        border-right: 170px solid transparent;
    }
    .slider_text {
        top: 20px;
        
    }
    .capture_code {
        top: 11px;
        font-size: 25px;
    }
    .news_tab > ul > li > a {
        padding: 15px 5px;
    }
    .digital_pic_download li {
        width: 50% !important;
        padding:5px !important;
    }
    .my_tab > ul > li > a {
        font-size:12px;
    }
    
    .picture_left {
        margin-top: 80px;
    
    }
    
        }
    
    @media screen and (max-width: 350px) {
    
    .digital_testimonials h2 {
        font-size:20px;
    }
    .curri_text h2 {
        font-size: 18px;
    }
    .login__tab > ul > li > a {
      width:95px;
    }
    .curri_pic:after {
        border-left: 165px solid transparent;
        border-right: 165px solid transparent;
    }
    .main_listing {
        height: 290px !important;
     }
    .carousel-indicators.white_dote_about li {
        width:80px;	
    }
    .about_animation {
        width:80px;
        font-size:13px;
    }
    .carousel-indicators.white_dote_about .active {
        width:80px;
    }
    .footer_nav li {
        width:100%;
    }
     
    }
    @media screen and (max-width: 320px) {
            
    .curri_pic:after {
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
    }
    .slider_text {
        top: 5px;
    }
    .we_title > h1 {
        font-size: 25px;
    }
    
    .picture_left {
        margin-top: 50px;
    }
    .picture_right {
        top: -120px;
    }
    
    
            }